{% extends "meeting_app/base.html" %}
{% block body_block %}




    <div class="mask rgba-gradient align-items-center" style=" background-color:#DCDCDC;">
        <div class="container" >
            <div class="jumbtron">

                <h1>Staff Meeting and Notice </h1>
                <p>Here admin can call meeting automatically and decision can be save into databas.</p>
                <p>In this web app admin can send mail to the registerd members automatically or manually. </p>
                <p>After meeting decesion will be recorded to database so that admin can pull any data if necessary</p>


                <h3>Instructions</h3>
                <p>1. To add members click on admin and than click on Committee_members and than click on ADD COMMITTEE_MEMBEER+ on the top-right.</p>
                <p>2. To create meeting click on Create_Meeting. </p>
                <p>3. To see the list of meetings clik on Meeting_List.</p>
                <p>4. To update go to Meeting_List and click on Meeting_SubHeading(blue colored) and then update.</p>
                <p>5. To delete any meeting go to Admin than click on Create_Meeting and select the meeting you want to delete and press delete button on bottom-left.</p>
            </div>
        </div>
    </div>







{% endblock %}
