{% extends "meeting_app/base.html" %}
{% block body_block %}




    <div class="mask rgba-gradient align-items-center" style=" background-color:#DCDCDC;">
        <div class="container" >
            <div class="jumbtron">

                <h1>Staff Meeting and Notice </h1>
                <p>Here admin can call meeting automatically and decision can be save into databas.</p>
                <p>In this web app admin can send mail to the registerd members automatically or manually. </p>
                <p>After meeting decesion will be recorded to database so that admin can pull any data if necessary</p>


            </div>
        </div>
    </div>

{% endblock %}
