{% extends "meeting_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
{% load crispy_forms_tags %}

<div class="mask rgba-gradient align-items-center" style=" background-color:white;">
    <div class="container" >
        <div class="jumbtron">

  {% if registered %}
  <h1>Thankyou for registraing!!</h1>
  {% else %}
  <h2>REGISTER HERE </h2>

  <form method="post">
      {% csrf_token %}
       {{  user_form.username|as_crispy_field }}
       <div class="form-row">
         <div class="form-group col-md-6 mb-0">
           {{ user_form.first_name|as_crispy_field }}
         </div>
         <div class="form-group col-md-6 mb-0">
           {{ user_form.last_name|as_crispy_field }}
         </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ user_form.email|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ user_form.password|as_crispy_field }}
        </div>
     </div>
          {{  profile_form.portfolio_site|as_crispy_field }}
          {{  profile_form.profile_pic|as_crispy_field }}
     <input type="submit" class="btn btn-success"name="" value="Register">


   </form>
{% endif  %}
</div>
</div>
</div>
{% endblock %}
